<section>
  <h1 class="page_headline">Latest Posts</h1>
  <hr>
  <br>
  <% @posts.each do |post| %>
    <article class="posts_feed">
      <h3 id="feed_head">
      <% if post.avatar? %>
      <%= image_tag post.avatar.url(:thumb) %>      
      <% end %>
      <br>
      <%= link_to post.title, post_path(post) %>
      </h3>
      <h5>
        <%= link_to post.user.username, user_path(post.user), class: "feed_author" %>
      </h5>
      <br>
      <%= truncate post.text, length: 150 %>
      <div class="date_and_comments">
        <%= post.created_at.to_s(:short) %>
        <br>
        Comments: <%= post.comments.count %>
      </div>
    </article>
  <% end %>
</section>
