<article class="post">
  <h2 class="page_headline">
    <%= (@post.title).titleize %>
  </h2>
  <%= image_tag @post.avatar.url(:medium), id: "post_image" %>
  <p>
    <%= simple_format h(@post.text) %>
  </p>
  <p class="attribution">
    by <%= @post.user.username %>
    <br>
    <%= @post.created_at.to_s(:long) %>
  </p>
</article>

<div class="comments">
<h3>Leave a Comment</h3>
<br>
  <%= form_for Comment.new do |f| %>
      <%= f.text_area :body, id: 'comment_form' %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit :submit %>
  <% end %>

  <% @post.comments.order(id: :desc).each do |comment| %>
    <p class="comment">
      <%= simple_format h(comment.body) %>
    </p>
    <p class="comment_attribution">
      Posted by <%= link_to comment.user.username, user_path(comment.user.id) %>
      <br>
      at <%= comment.created_at.to_s(:short) %></span>
    </p>
    <hr>
  <% end %>
</div>

<div class="post_links">
  <% if @previous %>
    <%= link_to '< Previous', @previous %>
  <% end %>
  <%= link_to 'Return to all posts', posts_path %>
  <% if @next %>
    <%= link_to 'Next >', @next  %>
  <% end %>
</div>
